*{
    box-sizing: border-box;
    

}

body{
    margin: 0;
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding-bottom: 0;
    border: 1px solid black ;
    height: 100%;
} 

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: rgb(179, 151, 151);
}



header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(104, 110, 9);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container nav{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

header a:hover{
    color: blueviolet;
}


.tarjeta img{
    width: 5rem ;
}


.tarjeta{
    
  
    width: 10rem;
    border: 1px solid black ;
    border-radius: 2rem;
    margin: 2rem;
}

.footer{
    display: flex;
    border: 1px solid black ;
    justify-content:space-around;
}
    
.container2{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
   
}

   

.container3 img{
    width: 25rem;
    border-radius: 2rem;
    align-items: center;
}

/*Slider de galeria de fotos*/

.slider{
  width: 95%;  
  margin: auto;
  overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease;
    
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.logo1{
    width: 6rem;
    margin-bottom: 2rem;
   
   align-items: center;
}
.ulFormulario li{
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 1rem;
}

 img.carrito{
  
    width: 4rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
}

img.corazonRojo{
    width: 4rem;
    position: absolute;
    right: 6rem;
    top: 2rem;
}









   





 
