*{
    box-sizing: border-box;
    

}

body{
    margin: 0;
    font-family: 'roboto', sans-serif;
    text-align: center;
    padding-bottom: 0;
    border: 1px solid black ;
    height: 100%;
} 

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

button:hover{
    background-color: rgb(179, 151, 151);
}



header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container nav{
    display: flex;
    /* flex-direction: column; */
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}

header a:hover{
    color: blueviolet;
}


.tarjeta img{
    width: 5rem ;
}


.tarjeta{
    
  
    width: 10rem;
    border: 1px solid black ;
    border-radius: 2rem;
    margin: 2rem;
}

.footer{
    display: flex;
    border: 1px solid black ;

}
    
.container2{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
   

    
    
    
}
.container1{
    display: flex;
    justify-content:space-around;
}

.container3 img{
    width: 25rem;
    border-radius: 2rem;
}




 
